<a href="/dashboard">Go back</a>
<div class="admin-title">
    <h2>Add new posts</h2>
</div>

<form action="/add-post" method="POST">

    <label for="title"><b>Title</b></label>
    <input type="text" name="title"><br><br>

    <label for="title"><b>Title</b></label>
    <textarea name="body" cols="50" rows="10"></textarea><br><br>

    <input type="submit" value="add" class="btn">
</form>