<div class="author">
    <h1 class="author_heading">I hope this works!</h1>
    <p class="author_body"></p>

</div>

<section class="posts">
    <h2 class="posts_heading">latest posts</h2>
    <ul class="posts_ul">
        <li>
            <a href="#">
                <span>Post title</span>
                <span class="posts-list__date">Post time </span>
            </a>
        </li>
    </ul>
    
        <a href="#" class="pagination">&lt; Older posts</a>

    
</section>